<%- include('header-home') %>

    <style>
      body {
        color: white;
      }
      #hero {
        min-height: 100vh;
        background: #141e30;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #243b55, #141e30);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #243b55, #141e30);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
    </style>
  </head>

  <body>
    <!-- ======= Hero Section ======= -->
    <main id="hero">
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
           <!-- image of athlete -->
          </div>
          <div class="col-lg-6">
          <!-- intro message -->
          </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
