<%- include('header-home') %>

    <style>
      body {
        color: white;
      }
      #hero {
        min-height: 100vh;
        background: #141e30;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #243b55, #141e30);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #243b55, #141e30);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
    </style>
  </head>

  <body>
    <!-- ======= Hero Section ======= -->
    <main id="hero">
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img
              src="https://www.dropbox.com/s/25lk5ur2qvxms7o/AppLandingPage.png?raw=1"
              class="d-block mx-lg-auto img-fluid"
              alt="Bootstrap Themes"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
              Ship great software with our bug tracker
            </h1>
            <p class="lead">
              A simple, fast and scalable bug tracking system that helps you
              manage bugs easily and deliver great products on time.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" class="btn btn-warning btn-lg px-4 me-md-2">
                Demo
              </button>
              <button type="button" class="btn btn-outline-warning btn-lg px-4">
                About
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
